/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Lora|Montserrat");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/hero-image.jpg");
  padding: 20px; }

.header-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 13.6px;
  font-weight: 800;
  line-height: 1.38;
  letter-spacing: 1.4px;
  color: #f5f5f5; }

.rectangle-1 {
  width: 100%;
  height: 5px;
  background-color: #ffffff;
  margin: 25px 0px 70px 0px; }

.hero-text {
  font-family: 'Lora', serif;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1.6px;
  color: #ffae00; }

.rectangle-2 {
  width: 100px;
  height: 5px;
  background-color: #ffffff;
  margin: 25px 0px 70px 0px; }

.countdown-rectangle {
  background-color: #ffae00;
  margin: 20px;
  top: -70px;
  position: relative;
  width: 363px;
  height: 209px; }
  .countdown-rectangle div:first-child {
    margin-left: 15px; }

.whitesquare {
  width: 99px;
  height: 100px;
  background-color: white;
  margin: 10px 5px 10px 5px;
  display: inline-block; }

.countdown-text-bold {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.9px;
  text-align: center;
  color: #f5f5f5;
  font-family: 'Montserrat', sans-serif;
  padding: 15px; }

.countdown-text-regular {
  font-size: 21px;
  letter-spacing: 1px;
  text-align: center;
  color: #f5f5f5;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 20px; }

.buy-tickets-background {
  margin: 20px;
  background-color: #d89000;
  height: 210px;
  width: 363px; }
  .buy-tickets-background p:nth-child(2) {
    padding-top: 0px; }

.tickets-text {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.2px;
  text-align: center;
  color: #f5f5f5;
  font-family: 'Montserrat', sans-serif;
  padding: 40px 20px 0px 20px; }

.buy-tickets {
  background-color: white;
  width: 250px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.9px;
  text-align: center;
  color: #ffae00;
  font-family: 'Montserrat', sans-serif;
  margin: 30px 40px 30px 15px;
  padding: 20px 40px 20px 40px; }

@media only screen and (max-width: 767px) {
  .footer-background {
    background-color: #313131;
    padding: 50px 20px 100px 20px; }

  .footer-title-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #ebebeb; }

  .footer-text {
    font-family: 'Lora', serif;
    padding: 20px 0px 80px 0px;
    font-size: 14px;
    line-height: 1.6;
    color: #cecece; }

  .footer-subtitle-text {
    padding-top: 80px;
    font-family: 'Montserrat', sans-serif;
    color: #cecece;
    font-size: 18px;
    letter-spacing: 1.8px; }

  .footer-text-underline {
    font-family: 'Lora', serif;
    padding: 20px 0px 80px 0px;
    font-size: 14px;
    line-height: 1.6;
    color: #cecece;
    text-decoration: underline; } }
@media only screen and (min-width: 768px) {
  .footer-background {
    background-color: #313131;
    padding: 50px 20px 20px 20px; }

  .footer-title-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #ebebeb;
    padding: 70px 0px 0px 90px; }

  .footer-text {
    font-family: 'Lora', serif;
    padding: 20px 0px 0px 90px;
    font-size: 14px;
    line-height: 1.6;
    color: #cecece;
    text-align: left;
    width: 300px; }

  .footer-subtitle-text {
    padding-top: 80px;
    font-family: 'Montserrat', sans-serif;
    color: #cecece;
    font-size: 18px;
    letter-spacing: 1.8px; }

  .footer-text-underline {
    font-family: 'Lora', serif;
    padding: 20px 0px 80px 0px;
    font-size: 14px;
    line-height: 1.6;
    color: #cecece;
    text-decoration: underline; }

  .desktop-footerimg {
    padding: 0px 0px 0px 800px; }

  .footer-title-text:nth-last-child(2) {
    padding: 0px; } }
@media only screen and (max-width: 767px) {
  .venue-background {
    background-color: #ebebeb;
    padding: 20px; }

  .conference-title-text {
    font-family: 'Lora', serif;
    font-size: 21px;
    font-weight: 800;
    line-height: 1.52;
    letter-spacing: 1px;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 25px; }

  .conference-text {
    font-size: 17px;
    line-height: 1.41;
    letter-spacing: 0.9px;
    text-align: left;
    font-family: 'Lora', serif;
    padding-bottom: 35px; }

  .conference-title {
    padding: 0px 20px 0px 20px; }

  .smaller-title-text {
    font-family: 'Lora', serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: 0.9px;
    padding-top: 30px; }

  .conference-text2 {
    font-size: 17px;
    line-height: 1.41;
    letter-spacing: 0.9px;
    text-align: left;
    font-family: 'Lora', serif;
    padding-bottom: 52px; } }
@media only screen and (min-width: 768px) {
  .venue-background {
    background-color: #ebebeb;
    padding: 60px 200px 80px 450px; }

  .conference-title-text {
    font-family: 'Lora', serif;
    font-size: 21px;
    font-weight: 800;
    line-height: 1.52;
    letter-spacing: 1px;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 25px; }

  .conference-text {
    font-size: 17px;
    line-height: 1.41;
    letter-spacing: 0.9px;
    text-align: left;
    font-family: 'Lora', serif;
    padding-bottom: 35px; }

  .conference-title {
    padding: 0px 20px 0px 20px; }

  .smaller-title-text {
    font-family: 'Lora', serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: 0.9px;
    padding: 30px 0px 30px 0px; }

  .conference-text2 {
    font-size: 17px;
    line-height: 1.41;
    letter-spacing: 0.9px;
    text-align: left;
    font-family: 'Lora', serif;
    padding-bottom: 52px; } }
@media only screen and (max-width: 767px) {
  .sponsorsection {
    padding: 20px 20px 50px 20px; }
    .sponsorsection img {
      height: 90px;
      padding: 20px 35px 0px 0px; }

  .orange-box {
    text-align: center;
    background-color: #ffae00;
    font-size: 18px;
    width: 360px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 3.7;
    color: #f5f5f5;
    display: block;
    letter-spacing: 0.9px; }

  .sponsor-text {
    padding-top: 60px;
    font-family: 'Montserrat', sans-serif;
    color: #ffae00;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.71;
    letter-spacing: 1px;
    padding-bottom: 20px; } }
@media only screen and (min-width: 768px) {
  .sponsorsection {
    padding: 90px 20px 100px 90px; }
    .sponsorsection img {
      height: 90px;
      padding: 20px 35px 0px 0px; }

  .orange-box {
    text-align: center;
    background-color: #ffae00;
    font-size: 18px;
    width: 360px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 3.7;
    color: #f5f5f5;
    display: block;
    letter-spacing: 0.9px;
    margin: 20px 60px 0px 330px; }

  .sponsor-text {
    padding-top: 60px;
    font-family: 'Montserrat', sans-serif;
    color: #ffae00;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.71;
    letter-spacing: 1px;
    padding-bottom: 20px; }

  .sponsor-flex {
    display: flex;
    flex-flow: row; }
    .sponsor-flex .sponsors {
      width: 49%; }

  .media-becomesponsor {
    display: flex;
    flex-flow: row; }

  .flex-flow {
    flex-flow: column; } }
@media only screen and (max-width: 767px) {
  .locations-background {
    background-color: #ffae00;
    padding: 50px 20px 30px 20px; }

  .location-title-text {
    font-size: 21px;
    font-weight: bold;
    line-height: 1.43;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif; }

  .location-business-name {
    font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 1.5;
    font-weight: bold;
    padding-top: 20px; }

  .location-business-direction {
    font-size: 18px;
    line-height: 1.33;
    font-family: 'Lora', serif; } }
@media only screen and (min-width: 768px) {
  .locations-background {
    background-color: #ffae00;
    padding: 50px 20px 100px 50px;
    width: 40%; }

  .map {
    width: 59%; }

  .flexbox-loc {
    display: flex;
    flex-flow: row;
    width: 100%; }

  .location-title-text {
    font-size: 21px;
    font-weight: bold;
    line-height: 1.43;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif; }

  .location-business-name {
    font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 1.5;
    font-weight: bold;
    padding-top: 20px; }

  .location-business-direction {
    font-size: 18px;
    line-height: 1.33;
    font-family: 'Lora', serif; } }
.opening-reg {
  padding: 20px; }

.please-note {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.6px;
  color: #101010; }

.list-content {
  font-size: 16px;
  line-height: 1.69;
  letter-spacing: 0.8px;
  font-family: 'Lora', serif; }

.session1 {
  padding: 20px;
  background-color: #ebebeb; }

.session2 {
  padding: 20px; }

.session3 {
  padding: 20px;
  background-color: #ebebeb; }

.session7 {
  padding: 20px; }

.session-closing {
  padding: 20px;
  background-color: #ebebeb; }

.session-number {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.9px;
  color: #ffae00;
  font-family: 'Montserrat', sans-serif; }

.session-time {
  font-family: 'Montserrat', sans-serif;
  padding-top: 5px; }

.lightning {
  padding: 20px; }
  .lightning .conference-title-text {
    padding: 0px; }

.session-after-closing {
  padding: 20px;
  background-color: #ebebeb; }
  .session-after-closing li:nth-child(even) {
    padding: 0px; }

.conference-text3 {
  font-size: 15px;
  line-height: 1.41;
  letter-spacing: 0.9px;
  text-align: left;
  font-family: 'Lora', serif;
  padding: 20px 0px 20px 0px; }

.cost-ticket {
  font-size: 21px;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 1px;
  color: #d08e01;
  font-family: 'Montserrat', sans-serif; }

.dropdown {
  position: relative;
  display: inline-block;
  background-color: white;
  border: solid 2px grey; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 52px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center; }

.dropbtn {
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer; }

.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

.dropdown-content p:hover {
  background-color: #f1f1f1; }

.show {
  display: block; }

.venue-title-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.0;
  letter-spacing: 1.2px;
  padding: 40px 0px 20px 0px; }

.venue-text {
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.9px;
  font-family: 'Lora', serif; }
  .venue-text li:last-child {
    padding-bottom: 40px; }
  .venue-text li {
    list-style-type: disc;
    margin-left: 20px;
    padding-bottom: 5px; }

.venue-text2 {
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.9px;
  font-family: 'Lora', serif;
  padding: 25px 0px 25px 0px; }

.conference-title2 {
  padding: 30px 0px 20px 0px;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 1px;
  text-align: left;
  color: #101010;
  font-family: 'Montserrat', sans-serif; }

.sponsorbutton {
  width: 250px;
  height: 60px;
  background-color: #ffae00;
  margin: 30px 0px 50px 0px; }
  .sponsorbutton h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 2.25;
    letter-spacing: 0.8px;
    text-align: center;
    color: white;
    padding-top: 10px; }

body {
  min-width: 320px;
  overflow-x: hidden; }

/*# sourceMappingURL=styles.css.map */
