@media only screen and (max-width: 767px) {
.sponsorsection{
  padding: 20px 20px 50px 20px;
    img{
      height: 90px;
      padding: 20px 35px 0px 0px;
    }
}
.orange-box{
  text-align: center;
  background-color: #ffae00;
  font-size: 18px;
  width: 360px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  line-height: 3.7;
  color: #f5f5f5;
  display: block;
  letter-spacing: 0.9px;
}
.sponsor-text{
  padding-top: 60px;
  font-family: 'Montserrat', sans-serif;
  color: #ffae00;
  font-size: 21px;
	font-weight: bold;
	line-height: 1.71;
	letter-spacing: 1px;
  padding-bottom: 20px;
  }
}
@media only screen and (min-width: 768px){
  .sponsorsection{
    padding: 90px 20px 100px 90px;
      img{
        height: 90px;
        padding: 20px 35px 0px 0px;
      }
  }
  .orange-box{
    text-align: center;
    background-color: #ffae00;
    font-size: 18px;
    width: 360px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 3.7;
    color: #f5f5f5;
    display: block;
    letter-spacing: 0.9px;
    margin: 20px 60px 0px 330px ;
  }
  .sponsor-text{
    padding-top: 60px;
    font-family: 'Montserrat', sans-serif;
    color: #ffae00;
    font-size: 21px;
  	font-weight: bold;
  	line-height: 1.71;
  	letter-spacing: 1px;
    padding-bottom: 20px;
    }
  .sponsor-flex{
      .sponsors{
        width: 49%;
      }
    display: flex;
    flex-flow: row;
  }
  .media-becomesponsor{
    display: flex;
    flex-flow: row;
  }
  .flex-flow{
    flex-flow: column;
  }
}
